[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
[submodule "cmake"]
	path = cmake-include/sudara-cmake
	url = https://github.com/sudara/cmake-includes.git
[submodule "libs/clap-juce-extensions"]
	path = cmake-include/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
